[defaults]
# Make every play deterministic enough for CI:
#   - No prompting for unknown vars
#   - Fact gathering parallelised
#   - SSH multiplexing on; saves seconds per task on large fleets
host_key_checking = False
deprecation_warnings = True
nocows = 1
retry_files_enabled = False
forks = 25
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible-facts-cache
fact_caching_timeout = 3600
roles_path = ./ansible/roles
collections_path = ./ansible/collections
inventory = ./ansible/inventories
stdout_callback = yaml
callbacks_enabled = profile_tasks,timer
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
control_path = ~/.ssh/cm-%%r@%%h:%%p

[persistent_connection]
command_timeout = 60
