{{ ansible_managed | comment }}
[Unit]
Description=Prometheus exporter for PostgreSQL
Documentation=https://github.com/prometheus-community/postgres_exporter
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User={{ postgres_exporter_user }}
Group={{ postgres_exporter_group }}
EnvironmentFile={{ postgres_exporter_env_file }}
ExecStart={{ postgres_exporter_package_bin }}{% if postgres_exporter_extra_flags %} {{ postgres_exporter_extra_flags | join(' ') }}{% endif %}

Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
