{{ ansible_managed | comment }}
# DATA_SOURCE_NAME is consumed by the exporter on startup; it contains the
# password for the {{ postgres_exporter_sql_role }} SQL role.
DATA_SOURCE_NAME="{{ postgres_exporter_data_source_name | regex_replace('\\s+', ' ') | trim }}"
PG_EXPORTER_WEB_LISTEN_ADDRESS="{{ postgres_exporter_listen_address }}"
