// {{ ansible_managed }}
Unattended-Upgrade::Origins-Pattern {
{% if updates_apply == 'security' %}
  "origin=Debian,codename=${distro_codename},label=Debian-Security";
  "origin=Ubuntu,archive=${distro_codename}-security";
{% else %}
  "origin=Debian,codename=${distro_codename},label=Debian-Security";
  "origin=Debian,codename=${distro_codename},label=Debian";
  "origin=Ubuntu,archive=${distro_codename}-security";
  "origin=Ubuntu,archive=${distro_codename}-updates";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {
};

Unattended-Upgrade::DevRelease "auto";
Unattended-Upgrade::AutoFixInterruptedDpkg "true";
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::InstallOnShutdown "false";

{% if updates_email_to | length > 0 %}
Unattended-Upgrade::Mail "{{ updates_email_to }}";
Unattended-Upgrade::MailReport "{{ 'only-on-error' if updates_email_only_on_error | bool else 'on-change' }}";
{% endif %}

Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
Unattended-Upgrade::Remove-Unused-Dependencies "false";

Unattended-Upgrade::Automatic-Reboot "{{ 'true' if updates_reboot | bool else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
Unattended-Upgrade::Automatic-Reboot-Time "now";
